<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkillBase</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,600&family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SkillBase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ">
          {{#each User}}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hey, {{this.name}}
          </a>
          {{/each}}
          <ul class="dropdown-menu">

            <li><hr class="dropdown-divider"></li>
            <li><a id="logout_button" class="dropdown-item" href="/login">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{!-- navbar end --}}

{{#each Company}}
<div class="company-container">
  <div class="company-card">
    <div class="row1">
        <h3>{{this.jobTitle}}</h3>
    </div>
    <div class="row2">
        <p class="company-name">{{this.companyName}}</p>
    </div>
    <div class="row3">
        <span class="duration">
          <i class="fa-solid fa-briefcase" style="font-size: 0.9rem;"></i>
          {{this.duration}}
        </span>
        <span class="stipend">
          <i class="fa-solid fa-indian-rupee-sign"></i>
          {{this.stipend}}
        </span>
        <span class="location">
          <i class="fa-solid fa-location-dot"></i>
          {{this.location}}
        </span>
    </div>
    <div class="row4">
      <i class="fa-solid fa-file-lines"></i>
        <p class="jobDesc">{{this.jobDesc}}</p>
    </div>
    <div class="row5">
        <p class="skills-required">{{this.skillsReq}}</p>
    </div>
  </div>
</div>
{{/each}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>